body {
    background-color: rgb(250, 250, 250) !important;
}

h1 {
  font-family: "Ruda", cursive !important;
  font-size: 80px !important;
}

h2 {
  font-family: "Gloria Hallelujah", cursive;
  font-size: 430%;
  -webkit-transform: rotate(-3deg);
  -ms-transform: rotate(7deg); /* IE 9 */
  padding: 3%;
}

.myquotes {
  font-family: 'Satisfy', cursive;
  font-size: 30px;
  padding: 3% 10% 10% 5%;
}

.mytext {
  padding-top: 5%;
  font-size: 120%;
  padding-right: 5%;
}

.container-fluid {
  margin-top: 5% !important;
  margin-bottom: 5% !important;
}

.ada-life {
  background-color: #FBB44C;
  color: #FFFFFF;
}

.sitting-ada {
  width: 65%;
  padding: 10px;
  padding-bottom: 20px;
  border-radius: 31%;
}

.container {
  margin-top: 2%;
  padding: 2%;
  width: 100%;
}

.ada-lessons {
  background-color: rgb(56, 178, 173);
}

.stars-ada {
  padding: 0% 6% 0% 6%;
}


